.header {
  padding: 2px clamp(8px, 2vw, 16px);
  margin: 4px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.07);
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  clip-path: polygon(15px 0%, calc(100% - 15px) 0%, 100% 15px, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0% calc(100% - 15px), 0% 15px);
}

.header--light {
  background-color: #000000;
}

.header--dark {
  background-color: #FFD600;
}

