body, html {
  margin: 0;
  padding: 0;
  background: #000;
  min-height: 100vh;
  font-family: 'Tektur', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Tektur', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
